/* basic setting */

* {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
  }
  
  /* frame */
  body {
    background-image: url("images/background_grid.png");
    width: 100%;
    height: 720px;
  }
  
  .frame {
    margin: 25px 150px; /* 위아래 25px, 양옆 150px margin */
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (max-width: 600px) {
    .frame {
      margin: 25px 25px;
    }
  }
  
  /* header */
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .site-name {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
    font-size: 30px;
    color: #6581e4;
    /* font-style:italic; */
  }
  
  .nav_menu {
    display: flex;
    align-self: center;
    position: absolute;
    margin-left: 130px;
    font-size: 18px;
  }
  
  .nav_menu > li {
    margin-left: 20px;
  }
  
  .nav_menu_2 {
    display: flex;
    align-self: center;
    font-size: 18px;
  }
  
  .nav_menu_2 > li {
    margin-left: 25px;
    border-style: solid;
    border-color: #6581e4;
    border-width: 1.5px;
    border-radius: 8px;
    padding: 3.5px; /* border랑 글자 간 공간 만들어주기*/
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .maintain_width {
    min-width: 50px;
    text-align: center;
  }
  
  li > a {
    color: #6f6f6f; /* 검정 글자 이 색깔로 통일 */
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .disable_mobile {
      display: none;
    }
  }
  .introduce_header{
      text-align: center;
      color: rgb(46, 146, 186);
      font-size: 45px;
      font-weight: 600;
      padding-top: 200px;
      padding-bottom: 250px;
  }
  .introduce{
    height: 1000px;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .introduce1{
      display:flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .introduce2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .introduce3{
      display:flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .imo{
    flex-grow: 1;
    padding-top: 70px;
    padding-left: 20px;
  }
  .intro_text{
    flex-grow: 4;
    font-size: 20px;
    padding-top: 50px;
  }